<footer>
  {{- $featherIconURL := "https://unpkg.com/feather-icons@4.29.2/dist/feather-sprite.svg" -}}
  {{- if not (.Site.Params.useCDN | default false) -}}
  {{- $sprite := resources.Get "svg/feather-sprite.svg" -}}
  {{- if $sprite }}
  {{- $featherIconURL = $sprite.RelPermalink -}}
  {{- end -}}
  {{- end -}}

  <div class="footer-links">
    {{- range $key := .Site.Params.Social -}}
    {{- $iconName := strings.TrimPrefix "simple:" $key.icon -}}
    <a class="soc" href="{{ $key.url }}" rel="me" title="{{ $key.name }}">
      <svg class="feather" aria-hidden="true"><use href="{{ $featherIconURL }}#{{ $iconName }}" /></svg>
    </a>
    <a class="border"></a>
    {{- end -}}
  </div>
  <div class="footer-info">
    {{ dateFormat "2006" now }} {{ with .Site.Copyright }} {{ . }} {{ end }}
  </div>
</footer>
