{{- $featherIconURL := "https://unpkg.com/feather-icons@4.29.2/dist/feather-sprite.svg" -}}
{{- if not (.Site.Params.useCDN | default false) -}}
{{- $sprite := resources.Get "svg/feather-sprite.svg" -}}
{{- if $sprite }}
{{- $featherIconURL = $sprite.RelPermalink -}}
{{- end -}}
{{- end -}}

<header class="site-header">
	<div class="site-header-inner">
		<a class="brand" href="{{ .Site.Home.RelPermalink }}">{{ .Site.Title }}</a>
		<nav class="top-nav">
			{{- $menuLen := len .Site.Menus.main -}}
			{{ range $idx, $menu := .Site.Menus.main }}
			<a href="{{ $menu.URL }}">{{ $menu.Name }}</a>
			{{ if lt (add $idx 1) $menuLen }}
			<span class="divider">|</span>
			{{ end }}
			{{ end }}
			{{- if eq .Site.Params.mode "toggle" -}}
			<span id="dark-mode-toggle" onclick="toggleTheme()" role="button" tabindex="0" aria-label="toggle color theme">
				<svg class="feather" aria-hidden="true"><use href="{{ $featherIconURL }}#sun" /></svg>
			</span>
			<span class="divider">|</span>
			<script src="{{ absURL "js/themetoggle.js" }}"></script>
			{{ end -}}
		</nav>
	</div>
</header>
